footer {
  background: url(../images/bg-footermb.png) no-repeat top center;
  background-size: cover;
  @media (min-width: 1024px) {
    background: url(../images/bg-footer.png) no-repeat center center;
    background-size: cover;
  }
}
