footer {
  background: linear-gradient(86deg, var(--color-main-800, #0000A8) 8.08%, var(--700, #0000CF) 32.04%, var(--800, #0000A8) 100%);
  background-size: cover;
  @media (min-width: 1024px) {
    background-size: cover;
  }
}
