<h2
  class="font-lexend text-4xl md:text-[50px] md:leading-tight font-bold text-navyBlue-800 text-center {{ class is defined and class ? ' ' ~ class : '' }}"
>
{{ text | default('Title h2 default') }}
</h2>
