<footer class="w-full min-h-96 px-4">
  <div class="w-full max-w-[1180px] mx-auto py-12 text-white grid grid-cols-12 gap-5">
    <div class="flex flex-col gap-4 md:gap-[25px] col-span-12 md:col-span-3">
      <div class="flex flex-col items-center md:items-start gap-[15px]">
        <a href="/"
          ><img src="assets/images/logo-white.svg" alt="Logo" class="w-52"
        /></a>
        <div class="social flex gap-5">
          <a href="#" class="group">
            <i
              class="fa-brands fa-facebook text-2xl group-hover:text-navyBlue-500"
            ></i>
          </a>
          <a href="#" class="group">
            <i
              class="fa-brands fa-instagram text-2xl group-hover:text-navyBlue-500"
            ></i>
          </a>
          <a href="#" class="group">
            <i
              class="fa-brands fa-twitter text-2xl group-hover:text-navyBlue-500"
            ></i>
          </a>
          <a href="#" class="group">
            <i
              class="fa-brands fa-youtube text-2xl group-hover:text-navyBlue-500"
            ></i>
          </a>
        </div>
      </div>
      <div class="flex flex-col gap-[15px]">
        <div class="text-[15px]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor
        </div>
        <form action="" class="w-full relative border p-[10px] rounded-md">
          <input
            type="text"
            placeholder="Email"
            class="w-full bg-transparent text-white placeholder:text-white text-[15px]"
          />
          <button
            type="submit"
            class="size-6 absolute right-[10px] top-1/2 z-10 -translate-y-1/2"
          >
            <img
              src="assets/images/icons/senMail.png"
              class="size-full"
              alt="Arrow Right"
            />
          </button>
        </form>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:gap-[25px] col-span-12 md:col-span-4">
      <h3 class="w-full text-lg font-bold pt-5 md:pt-[57px]">ACADEMY</h3>
      <div class="flex flex-col gap-2">
        <div class="flex flex-row gap-[15px]">
          <div
            class="size-10 rounded-full flex flex-col items-center justify-center bg-navyBlue-100 text-navyBlue-800 text-base shrink-0"
          >
            <i class="fa-solid fa-school"></i>
          </div>
          <dl class="flex-1 flex flex-col gap-1">
            <dt class="ttext-[15px] font-normal uppercase">ĐỊA CHỈ</dt>
            <dd class="text-base font-semibold uppercase">
              Số 12 Nguyễn Văn Bảo, Phường 4, Q.Gò Vấp, TP.HCM
            </dd>
          </dl>
        </div>
        <div class="flex flex-row gap-[15px]">
          <div
            class="size-10 rounded-full flex flex-col items-center justify-center bg-navyBlue-100 text-navyBlue-800 text-base shrink-0"
          >
            <i class="fa-solid fa-envelope-open-text"></i>
          </div>
          <dl class="flex-1 flex flex-col gap-1">
            <dt class="text-[15px] font-normal uppercase">email</dt>
            <dd class="text-base font-semibold uppercase">dhcn@iuh.edu.vn</dd>
          </dl>
        </div>
        <div class="flex flex-row gap-[15px]">
          <div
            class="size-10 rounded-full flex flex-col items-center justify-center bg-navyBlue-100 text-navyBlue-800 text-base shrink-0"
          >
            <i class="fa-solid fa-phone"></i>
          </div>
          <dl class="flex-1 flex flex-col gap-1">
            <dt class="text-[15px] font-normal uppercase">ĐIỆN THOẠI 24/7</dt>
            <dd class="text-base font-semibold uppercase">0283.8940 390</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-4 md:gap-[25px] col-span-12 md:col-span-5">
      <h3 class="w-full text-lg font-bold pt-5 md:pt-[57px]">THÔNG TIN CHUNG</h3>
      <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-[15px]">
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Giới
            thiệu
          </a>
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Khóa học
          </a>
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Chuyển giao công nghệ
          </a>
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Nghiên cứu khoa học
          </a>
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Dự án
          </a>
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Tin tức & Sự kiện
          </a>
        <a href="#" class="text-base font-normal flex gap-2 items-center group cursor-pointer transition-all duration-300 ease-in-out">
            <i class="fa-solid fa-caret-right group-hover:fa-arrow-right"></i> Liên hệ
          </a>
      </ul>
    </div>
  </div>
  </div>
  <div class=" bg-white py-3 -mx-4 px-4 grid-cols-12">
    <div class="w-full max-w-[1180px] mx-auto flex flex-col md:flex-row items-center justify-between gap-2 md:gap-5">
      <div class="flex flex-col md:flex-row items-center gap-2 md:gap-5">
        <dl class="text-base font-normal flex gap-1">
          <dt class="text-navyBlue-700"><i class="fa-solid fa-users"></i></dt>
          <dd class="text-black">Số lượng truy cập: 130339</dd>
        </dl>
        <dl class="text-base font-normal flex gap-1">
          <dt class="text-navyBlue-700"><i class="fa-solid fa-circle-user"></i></dt>
          <dd class="text-black">Số lượng truy cập: 130339</dd>
        </dl>
      </div>
      <div class="flex gap-2 text-navyBlue-800 items-center"><i class="fa-solid fa-copyright"></i>2025 Đại học Công nghiệp TP.HCM - IUH</div>
    </div>
  </div>
</footer>
