<div class="iuhFadeInScroll w-full relative" data-module="HomePartner">
  <div
    class="w-full max-w-[1200px] px-4 mx-auto pb-6 md:pb-[40px] flex flex-col"
  >
    <h2
      class="text-2xl lg:text-titleDK md:leading-[1] text-left lg:text-center font-bold text-titleColor h-10 lg:h-[50px]"
    >
      Đối tác
    </h2>
    <div class="w-full relative">
      <div
        class="swiper-button-partner-prev hidden lg:block absolute top-1/2 -left-4 -translate-y-1/2 z-[3] cursor-pointer size-[30px] lg:size-[50px] p-[5px] rounded-full bg-white drop-shadow-btn-slide transition-all duration-500 ease-in hover:bg-gradient-to-r from-navyBlue-800 to-navyBlue-700 hover:text-white"
      >
        <svg
          class="size-full"
          viewbox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.6665 19.9997L28.3332 19.9997M11.6665 19.9997L18.3332 13.333M11.6665 19.9997L18.3332 26.6663"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper swiper_partner !py-5">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div
              class="p-4 lg:p-6 bg-white rounded-xl relative top-0 hover:top-1 hover:shadow-lg transition-all duration-500 ease-in"
            >
              <a href="#">
                <img
                  src="assets/images/partner-1.png"
                  alt=""
                  class="size-full object-cover"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="p-4 lg:p-6 bg-white rounded-xl partner-item relative top-0 hover:top-1 hover:shadow-lg transition-all duration-500 ease-in"
            >
              <a href="#">
                <img
                  src="assets/images/partner-2.png"
                  alt=""
                  class="size-full object-cover"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="p-4 lg:p-6 bg-white rounded-xl partner-item relative top-0 hover:top-1 hover:shadow-lg transition-all duration-500 ease-in"
            >
              <a href="#">
                <img
                  src="assets/images/partner-3.png"
                  alt=""
                  class="size-full object-cover"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="p-4 lg:p-6 bg-white rounded-xl partner-item relative top-0 hover:top-1 hover:shadow-lg transition-all duration-500 ease-in"
            >
              <a href="#">
                <img
                  src="assets/images/partner-4.png"
                  alt=""
                  class="size-full object-cover"
                />
              </a>
            </div>
          </div>
          <div class="swiper-slide">
            <div
              class="p-4 lg:p-6 bg-white rounded-xl partner-item relative top-0 hover:top-1 hover:shadow-lg transition-all duration-500 ease-in"
            >
              <a href="#">
                <img
                  src="assets/images/partner-5.png"
                  alt=""
                  class="size-full object-cover"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="swiper-button-partner-next absolute hidden lg:block top-1/2 -right-4 -translate-y-1/2 z-[3] cursor-pointer size-[30px] lg:size-[50px] p-[5px] rounded-full bg-white drop-shadow-btn-slide transition-all duration-500 ease-in hover:bg-gradient-to-r from-navyBlue-800 to-navyBlue-700 hover:text-white"
      >
        <svg
          class="size-full"
          viewbox="0 0 40 40"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M28.3333 20L11.6666 20M28.3333 20L21.6666 26.6667M28.3333 20L21.6666 13.3334"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
