<div class="iuhFadeInScroll w-full relative iuh-accredited" data-module="HomeAccredited">
  <div class="w-full max-w-[1200px] px-4 mx-auto py-10 lg:py-16 flex flex-col">
    <h2 class="iuh-accredited-title flex flex-col gap-5 items-center">
      <span class="text-2xl lg:text-titleDK md:leading-[1] text-left lg:text-center font-bold text-titleColor text-center">Các chương trình
        đạt kiểm định</span>
      <span class="text-red text-lg lg:text-2xl font-bold uppercase">TRONG NƯỚC VÀ QUỐC TẾ</span>
    </h2>

    <div class="w-full flex flex-col lg:flex-row gap-5 items-center mt-10 lg:mt-14">
      <div class="boxCircurlar">
        <!-- Existing quarters -->
        <div class="quarter " data-tab="tab1">
          <img src="assets/images/vnu.png"
            class="w-[120%] h-full max-w-[inherit] transition-all duration-300 absolute object-cover" alt="vnu-cea">
          <div class="content">vnu-cea</div>
        </div>
        <div class="quarter active" data-tab="tab2">
          <img src="assets/images/asean.png"
            class="w-[120%] h-full max-w-[inherit] transition-all duration-300 absolute object-cover" alt="vnu-cea">
          <div class="content">AUN-QA</div>
        </div>
        <div class="quarter" data-tab="tab3">
          <img src="assets/images/abet.png"
            class="w-[120%] h-full max-w-[inherit] transition-all duration-300 absolute object-cover" alt="vnu-cea">
          <div class="content">Abet</div>
        </div>
        <div class="quarter" data-tab="tab4">
          <img src="assets/images/other.png"
            class="w-[120%] h-full max-w-[inherit] transition-all duration-300 absolute object-cover" alt="vnu-cea">
          <div class="content">Other</div>
        </div>

        <!-- Added center logo -->
        <div class="center-logo">
          <img src="assets/images/logo-circle.png" alt="IUH Logo">
        </div>
      </div>

      <!-- Tab content -->
      <div class="tab-content">
        <div class="tab-pane" id="tab1">
          <div class="w-full flex flex-row gap-5 items-center rounded-lg p-3 bg-white shadow-accredited">
            <div class="w-full max-w-[100px] lg:max-w-[180px] shrink-0">
              <img src="assets/images/vnu-1.png" alt="" class="w-full" />
            </div>
            <div class="text-base lg:text-lg font-semibold uppercase text-black1">
              Accreditation Board for Engineering and Technology - (Hội đồng
              Kiểm định Kỹ thuật và Công nghệ, Hoa Kỳ)
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-1 lg:grid-cols-2 lg:gap-y-1 lg:gap-x-5 mt-6 lg:mt-14">
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0"><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Hóa phân tích</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0"><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Điện tử</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0"><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Điện
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline"><span
                class="size-5 shrink-0"><svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 25 25"
                  fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Kế toán</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Công nghệ Thực phẩm</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Luật Kinh tế
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Xây dựng</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Quản lý Tài nguyên và Môi trường
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline"><span
                class="size-5 shrink-0   "><svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 25 25"
                  fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Kiểm toán</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Tài chính - Ngân hàng</a>
          </div>
        </div>
        <div class="tab-pane active" id="tab2">
          <div class="w-full flex flex-row gap-5 items-center rounded-lg p-3 bg-white shadow-accredited">
            <div class="w-full max-w-[100px] lg:max-w-[180px] shrink-0">
              <img src="assets/images/aun-1.png" alt="" class="w-full" />
            </div>
            <div class="text-base lg:text-lg font-semibold uppercase text-black1">
              ASEAN University Network - Quality Assurance (Mạng lưới Đảm bảo
              chất lượng các trường đại học ASEAN)
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-1 lg:grid-cols-2 lg:gap-y-1 lg:gap-x-5 mt-6 lg:mt-14">

            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Hóa phân tích</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Điện tử</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0    "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Điện
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline"><span
                class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 25 25"
                  fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Kế toán</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Công nghệ Thực phẩm</a>

            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Luật Kinh tế
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Xây dựng</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Quản lý Tài nguyên và Môi trường
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline"><span
                class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 25 25"
                  fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Kiểm toán</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Tài chính - Ngân hàng</a>

          </div>
        </div>
        <div class="tab-pane" id="tab3">
          <div class="w-full flex flex-row gap-5 items-center rounded-lg p-3 bg-white shadow-accredited">
            <div class="w-full max-w-[100px] lg:max-w-[180px] shrink-0">
              <img src="assets/images/abet-1.png" alt="" class="w-full" />
            </div>
            <div class="text-base lg:text-lg font-semibold uppercase text-black1">
              Accreditation Board for Engineering and Technology (Hội đồng Kiểm
              định Kỹ thuật và Công nghệ, Hoa Kỳ)
            </div>
          </div>
          <div class="grid grid-cols-1 gap-y-1 lg:grid-cols-2 lg:gap-y-1 lg:gap-x-5 mt-6 lg:mt-14">

            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Hóa phân tích</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Điện tử</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Điện
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline"><span
                class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 25 25"
                  fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Kế toán</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Công nghệ Thực phẩm</a>

            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Luật Kinh tế
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Kỹ thuật Xây dựng</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>
              Quản lý Tài nguyên và Môi trường
            </a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline"><span
                class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full" viewBox="0 0 25 25"
                  fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Kiểm toán</a>
            <a href="#"
              class="flex flex-row gap-2 items-center text-base font-semibold text-navyBlue-900 hover:underline">
              <span class="size-5 shrink-0  "><svg xmlns="http://www.w3.org/2000/svg" class="size-full"
                  viewBox="0 0 25 25" fill="none">
                  <g>
                    <path
                      d="M13.2414 23.3309L5.76331 18.2545C5.51577 18.0905 5.32092 17.8799 5.17876 17.6225C5.0366 17.3652 4.96552 17.0943 4.96552 16.81V5.2758C4.96552 4.77124 5.15862 4.34417 5.54483 3.99459C5.93103 3.64501 6.40285 3.47021 6.96027 3.47021H19.5225C20.0799 3.47021 20.5517 3.64501 20.9379 3.99459C21.3241 4.34417 21.5172 4.77124 21.5172 5.2758V16.81C21.5172 17.0943 21.4462 17.3652 21.304 17.6225C21.1618 17.8799 20.967 18.0905 20.7194 18.2545L13.2414 23.3309ZM13.2414 21.4487L19.7241 17.0502C19.7666 17.0181 19.8002 16.9812 19.8248 16.9396C19.8497 16.898 19.8621 16.8516 19.8621 16.8005V5.2758C19.8621 5.1989 19.8267 5.12848 19.7559 5.06456C19.6852 5.00047 19.6074 4.96842 19.5225 4.96842H6.96027C6.87531 4.96842 6.79752 5.00047 6.72689 5.06456C6.65609 5.12848 6.62069 5.1989 6.62069 5.2758V16.8005C6.62069 16.8516 6.6331 16.898 6.65793 16.9396C6.68257 16.9812 6.71614 17.0181 6.75862 17.0502L13.2414 21.4487ZM12.0828 15.6094L17.9352 10.312L16.7724 9.22882L12.0828 13.4737L9.74427 11.357L8.54758 12.4095L12.0828 15.6094Z"
                      fill="currentColor" />
                  </g>
                </svg></span>Tài chính - Ngân hàng</a>

          </div>
        </div>
        <div class="tab-pane" id="tab4">
          <div class="w-full flex flex-row gap-5 items-center rounded-lg p-3 bg-white shadow-accredited">
            <div class="w-full max-w-[100px] lg:max-w-[180px] shrink-0 ">
              <img src="assets/images/partner-1.png" alt="" class="w-full" />
            </div>
            <div class="text-base lg:text-lg font-semibold uppercase text-black1">
              Coming soon
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

