<div class="iuhFadeInScroll w-full bg-navyLight">
  <div class="w-full max-w-[1200px] px-4 mx-auto flex flex-col gap-5">
    <div class="flex flex-row justify-between items-center py-10">
      {% include './common/Title.twig' with { class: '', text: 'Dự án tiêu biểu'
      } %} {% include './common/Bottom.twig' with { class: 'mt-0',
      variable:'button', link: '/', text: 'Xem tất cả' } %}
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2">
    {% for i in 1..4 %}
    <div
      class="bg-white shadow-md overflow-hidden flex flex-col md:flex-row {{
        i >= 3 ? 'md:flex-row-reverse' : ''
      }}"
    >
      <div class="w-full aspect-[360/400] md:w-1/2 image-hover">
        <img
          src="assets/images/project.jpg"
          alt="Dự án tiêu biểu"
          class="size-full object-cover"
        />
      </div>
      <div class="flex flex-col justify-center flex-1 py-5 md:py-[35px] px-5">
        <h3 class="text-lg font-semibold text-gray-900 mb-2 line-clamp-3">
          <a href="#">ỨNG DỤNG AI TRONG ĐÁNH GIÁ BÀI VIẾT TỰ DO</a>
        </h3>
        <ul class="text-sm text-gray-700 space-y-2 mb-4">
          <li class="flex flex-row items-center gap-1 border-b mb-1 pb-1">
            <i class="fa-solid fa-wifi mr-2 text-navyBlue-800 shrink-0"></i>
            <p class="flex-1 line-clamp-3 text-sm font-semibold">
              Dự án xây dựng mô hình xử lý ngôn ngữ tự nhiên để phân tích bài
              luận học viên.
            </p>
          </li>
          <li class="flex flex-row items-center gap-1 border-b mb-1 pb-1">
            <i class="fa-solid fa-code mr-2 text-navyBlue-800 shrink-0"></i>
            <p class="flex-1 line-clamp-3 text-sm font-semibold">
              Học viên tham
            gia: Lập trình mô hình và xử lý dữ liệu.
            </p>
          </li>
          <li class="flex flex-row items-center gap-1 ">
            <i class="fa-solid fa-check mr-2 text-navyBlue-800 shrink-0"></i>
            <p class="flex-1 line-clamp-3 text-sm font-semibold">
              Áp dụng thử
            nghiệm tại lớp Tiếng Anh A1, đạt độ chính xác 89%.
            </p>
          </li>
        </ul>
        {% include './common/Bottom.twig' with { class: 'mr-auto', link: '/',
        text: 'Xem chi tiết' } %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
