<div class="iuhFadeInScroll w-full relative">
  <div class="w-full max-w-[1200px] px-4 md:px-[10px] mx-auto py-12 md:py-20 flex flex-col">
    {% include './common/Title.twig' with { class: '', text: 'Nghiên cứu khoa
    học' } %}
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6 mt-5 md:mt-12"
    >
      {% for i in 1..6 %}
      <div
        class="bg-white overflow-hidden flex flex-col px-2 pt-2 pb-4 hover:shadow-research hover:rounded-xl hover:scale-105  transform hover:-translate-y-2 transition-all duration-500 ease-in-out cursor-pointer"
      >
        <div class="aspect-[380/300] image-hover rounded-md overflow-hidden">
          <a href="#"
            ><img
              src="assets/images/nghiencuu.jpg"
              alt="Nghiên cứu khoa học"
              class="w-full object-cover"
          /></a>
        </div>
        <div class="flex flex-col flex-1 pt-4 gap-[15px]">
          <div
            class="flex items-center text-base text-navyBlue-800 font-medium gap-2"
          >
            <i class="fa-regular fa-folder-open"></i>
            <span>Danh mục dự án</span>
            <span class="mx-2">|</span>
            <span>27/09/2024</span>
          </div>
          <h3 class="text-lg font-semibold text-gray-900 mb-2 line-clamp-2">
            <a href="#">ỨNG DỤNG AI TRONG HOẠT ĐỘNG NGHIÊN CỨU KHOA HỌC </a>
          </h3>
        </div>
      </div>
      {% endfor %}
    </div>
    {% include './common/Bottom.twig' with { class: 'min-w-[200px] mx-auto
    mt-8', link: '/nghien-cuu', text: 'Xem tất cả' } %}
  </div>
</div>
