<div class="iuhFadeInScroll w-full relative bg-navyBlue-50">
  <div
    class="w-full max-w-[1200px] px-4 md:px-[10px] mx-auto py-12 md:py-20 flex flex-col md:flex-row items-center gap-5"
  >
    <!-- Left section -->
    <div class="flex-1 flex flex-col items-start justify-center w-full lg:max-w-[350px]">
      <h2
        class="font-lexend text-4xl md:text-[40px] font-bold text-black mb-4 leading-tight w-full"
      >
        Hoạt động của chúng tôi
      </h2>
      <p class="text-base text-black1 mb-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut
      </p>
      {% include './common/Bottom.twig' with { class: 'min-w-[200px]', link:
      '/nghien-cuu', text: 'Xem Thêm' } %}
    </div>
    <!-- Right section: 3 images -->
    <div class="flex-1 flex flex-row gap-6 w-full justify-center">
      <div
        class="aspect-[280/380] rounded-xl overflow-hidden image-hover shadow-md bg-white flex items-center justify-center  transform hover:-translate-y-2 hover:shadow-research transition-all duration-500 ease-out"
      >
        <a href="#"
          ><img
            src="assets/images/hoatdong.jpg"
            alt="Hoạt động 1"
            class="object-cover w-full h-full"
        /></a>
      </div>
      <div
        class="aspect-[280/380] rounded-xl overflow-hidden image-hover shadow-md bg-white flex items-center justify-center transform hover:-translate-y-2 hover:shadow-research transition-all duration-500 ease-out"
      >
        <a href="#"
          ><img
            src="assets/images/hoatdong.jpg"
            alt="Hoạt động 1"
            class="object-cover w-full h-full"
        /></a>
      </div>
      <div
        class="aspect-[280/380] rounded-xl overflow-hidden image-hover shadow-md bg-white flex items-center justify-center transform hover:-translate-y-2 hover:shadow-research transition-all duration-500 ease-out"
      >
        <a href="#"
          ><img
            src="assets/images/hoatdong.jpg"
            alt="Hoạt động 1"
            class="object-cover w-full h-full"
        /></a>
      </div>
    </div>
  </div>
</div>
