<div class="iuhFadeInScroll w-full relative iuh-gallery" data-module="HomeGallery">
	<div class="w-full max-w-[1200px] px-4 mx-auto pb-10 lg:pb-[65px] flex flex-col gap-5">
		<div class="flex flex-row justify-between items-center">
			<h2 class="text-2xl lg:text-titleDK md:leading-[1] font-bold text-titleColor">
				Thư viện hình ảnh
			</h2>
			<div class="iuh-btn w-full max-w-[200px] hidden lg:block">
				<a href="#">
					Xem tất cả
					<svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewbox="0 0 24 24" fill="none">
						<path d="M10.075 12L5.5 7.4L6.9 6L12.9 12L6.9 18L5.5 16.6L10.075 12ZM16.675 12L12.1 7.4L13.5 6L19.5 12L13.5 18L12.1 16.6L16.675 12Z" fill="currentColor"/>
					</svg>
				</a>
			</div>
		</div>
		<div class="w-full grid-gallery">
			<div class="row-span-2 rounded-xl overflow-hidden relative">
				<div class="size-full relative iuh-gallery-item">
					<img src="assets/images/gallery-1.png" alt="" class="size-full object-cover z-[1]">
				</div>
				<div class="size-9 lg:size-[48px] absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 pulse-animation" data-open-modal="openVideoGallery">
					<div class="size-full bg-navyBlue-50/50 rounded-full">
					<svg xmlns="http://www.w3.org/2000/svg" class="size-full relative z-[3]" viewbox="0 0 48 48" fill="none">
						<path d="M24 4C12.96 4 4 12.96 4 24C4 35.04 12.96 44 24 44C35.04 44 44 35.04 44 24C44 12.96 35.04 4 24 4ZM24 40C15.18 40 8 32.82 8 24C8 15.18 15.18 8 24 8C32.82 8 40 15.18 40 24C40 32.82 32.82 40 24 40ZM19 33L33 24L19 15V33Z" fill="#0000CF"/>
					</svg>
				</div>
				</div>
			</div>
			<div class="col-span-1 lg:col-span-1 rounded-xl overflow-hidden relative group/item">
				<div class="size-full relative">
					<img src="assets/images/gallery-2.png" alt="" class="size-full object-cover z-[1]">
				</div>
				<div class="absolute top-full group-hover/item:top-0 opacity-0 group-hover/item:opacity-100 transition-all duration-700 ease-in-out left-0 size-full p-2.5 flex flex-col justify-end bg-gradient-to-b from-[#0070FF80]/50 to-[#0855C5]">
					<div class="w-full bg-white gallery-item rounded-xl">
						<a href="#" class="flex flex-row justify-center items-center gap-2 text-navyBlue-800 text-base md:text-lg font-normal py-1 md:py-3">
							Xem chi tiết
							<svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewbox="0 0 24 25" fill="none">
								<path d="M16.0043 8.57454L7.51899 17.0598M16.0043 8.57454L16.0043 15.3628M16.0043 8.57454H9.21605" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-span-1 lg:col-span-1 rounded-xl overflow-hidden relative group/item">
				<div class="size-full relative">
					<img src="assets/images/gallery-3.png" alt="" class="size-full object-cover z-[1]">
				</div>
        <div class="absolute top-full group-hover/item:top-0 opacity-0 group-hover/item:opacity-100 transition-all duration-700 ease-in-out left-0 size-full p-2.5 flex flex-col justify-end bg-gradient-to-b from-[#0070FF80]/50 to-[#0855C5]">
					<div class="w-full bg-white gallery-item rounded-xl">
						<a href="#" class="flex flex-row justify-center items-center gap-2 text-navyBlue-800 text-lg font-normal py-3">
							Xem chi tiết
							<svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewbox="0 0 24 25" fill="none">
								<path d="M16.0043 8.57454L7.51899 17.0598M16.0043 8.57454L16.0043 15.3628M16.0043 8.57454H9.21605" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
							</svg>
						</a>
					</div>
				</div>
			</div>
			<div class="col-span-2 lg:col-span-2 lg:col-start-2  rounded-xl overflow-hidden relative">
				<div class="swiper swiper_gallery h-full">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="size-full relative">
								<img src="assets/images/gallery-4.png" alt="" class="size-full object-cover z-[1]">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="size-full relative">
								<img src="assets/images/gallery-5.png" alt="" class="size-full object-cover z-[1]">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="size-full relative">
								<img src="assets/images/gallery-6.png" alt="" class="size-full object-cover z-[1]">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="size-full relative">
								<img src="assets/images/gallery-7.png" alt="" class="size-full object-cover z-[1]">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="iuh-btn w-full mx-auto max-w-[200px] block lg:hidden">
			<a href="#">
				Xem tất cả
				<svg xmlns="http://www.w3.org/2000/svg" class="size-5" viewbox="0 0 24 24" fill="none">
					<path d="M10.075 12L5.5 7.4L6.9 6L12.9 12L6.9 18L5.5 16.6L10.075 12ZM16.675 12L12.1 7.4L13.5 6L19.5 12L13.5 18L12.1 16.6L16.675 12Z" fill="currentColor"/>
				</svg>
			</a>
		</div>
	</div>
</div>
