<div class="iuhFadeInScroll w-full relative iuh-awards" data-module="HomeAwards">
  <div
    class="w-full max-w-[1200px] px-4 mx-auto py-10 lg:py-16 flex flex-col"
  >
    <div class="iuh-awards-grid gap-4">
      <div class="w-full bg-navyBlue-100 rounded-lg awardsCounting">
        <a href="#">
          <div class="awardsCounting-content">
            <div class="awardsCounting-content-title">100</div>
            <div class="awardsCounting-content-plus">+</div>
          </div>
          <div class="awardsCounting-content-text">CÔNG BỐ QUỐC TẾ</div>
        </a>
      </div>
      <div class="w-full bg-navyBlue-100 rounded-lg awardsCounting">
        <a href="#">
          <div class="awardsCounting-content">
            <div class="awardsCounting-content-title">234</div>
            <div class="awardsCounting-content-plus">+</div>
          </div>
          <div class="awardsCounting-content-text">ĐỀ TÀI NCKH</div>
        </a>
      </div>
      <div class="w-full bg-navyBlue-100 rounded-lg awardsCounting">
        <a href="#">
          <div class="awardsCounting-content">
          <div class="awardsCounting-content-title">10000</div>
            <div class="awardsCounting-content-plus">+</div>
          </div>
          <div class="awardsCounting-content-text">
            TOP 10 ĐẠI HỌC TẠI VIỆT NAM
          </div>
        </a>
      </div>
      <div class="w-full bg-navyBlue-100 rounded-lg awardsCounting">
        <a href="#">
          <div class="awardsCounting-content">
            <div class="awardsCounting-content-title">10</div>
            <div class="awardsCounting-content-plus">+</div>
          </div>
          <div class="awardsCounting-content-text">SINH VIÊN</div>
        </a>
      </div>
      <div class="w-full bg-navyBlue-100 rounded-lg awardsCounting">
        <a href="#">
          <div class="awardsCounting-content">
          <div class="awardsCounting-content-title">69</div>
          <div class="awardsCounting-content-plus">+</div>
        </div>
          <div class="awardsCounting-content-text">PHÒNG BAN</div>
        </a>
      </div>
      <div class="w-full bg-navyBlue-100 rounded-lg awardsCounting">
        <a href="#">
          <div class="awardsCounting-content">
            <div class="awardsCounting-content-title">876</div>
          <div class="awardsCounting-content-plus">+</div>
        </div>
          <div class="awardsCounting-content-text">GIẢNG VIÊN</div>
        </a>
      </div>
    </div>
  </div>
</div>
