<div class="swiper swiper_slidefull" data-module="SwiperFullscreen">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<picture>
				<source srcset="assets/images/slide3.png" media="(min-width: 767px)">
				<img src="assets/images/slide3mb.png" alt="slide3" class="w-full"/>
			</picture>
		</div>
		<div class="swiper-slide">
			<picture>
				<source srcset="assets/images/slide1.png" media="(min-width: 767px)">
				<img src="assets/images/slide1mb.png" alt="slide1" class="w-full"/>
			</picture>
		</div>
		<div class="swiper-slide">
			<picture>
				<source srcset="assets/images/slide2.png" media="(min-width: 767px)">
				<img src="assets/images/slide2mb.png" alt="slide2" class="w-full "/>
			</picture>
		</div>
		<div class="swiper-slide">
			<picture>
				<source srcset="assets/images/slide4.jpg" media="(min-width: 767px)">
				<img src="assets/images/slide4mb.jpg" alt="slide4" class="w-full "/>
			</picture>
		</div>
	</div>
	<div class="swiper-pagination"></div>

</div>
