<div id="loading-screen"
  class="fixed inset-0 z-[9999] bg-white flex items-center justify-center transition-opacity duration-500"
  data-time="1500">
  <div class="flex flex-col items-center">
    <!-- Logo with pulse animation -->
    <img src="assets/images/icons/logo.svg" alt="Logo" class="w-32 md:w-40 mb-8 " />

    <!-- Loading dots animation -->
    <div class="flex gap-1">
      <div class="size-3 rounded-full bg-yellowLogo animate-[bounce_1s_infinite_0ms]"></div>
      <div class="size-3 rounded-full bg-yellowLogo animate-[bounce_1s_infinite_200ms]"></div>
      <div class="size-3 rounded-full bg-yellowLogo animate-[bounce_1s_infinite_400ms]"></div>
    </div>
  </div>
</div>
