
<div class="flex flex-col gap-4 sm:gap-5">
  <h2 class="text-lg lg:text-[1.2rem] font-semibold text-navyBlue-800 uppercase flex flex-row items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="size-6 shrink-0" viewBox="0 0 30 30" fill="none">
      <g mask="">
        <path
          d="M4.375 21.875V20H19.6394V21.875H4.375ZM24.3078 20.685L18.5984 15L24.3078 9.32688L25.625 10.6444L21.2331 15L25.625 19.3678L24.3078 20.685ZM4.375 15.9375V14.0625H15.9856V15.9375H4.375ZM4.375 10V8.125H19.6394V10H4.375Z"
          fill="currentColor" />
      </g>
    </svg>
    Cơ cấu tổ chức
  </h2>
  <ul class="flex flex-col justify-between gap-2">
    {% set mainMenu = [
    {
    title: "Lãnh đạo",
    subitems: [
    "Đảng ủy",
    "Ban giám hiệu"
    ]
    },
    {
    title: "Các Phòng Ban",
    subitems: [
    "Phòng Tổ chức - Hành chính",
    "Phòng Tài chính - Kế toán",
    "Phòng Kế hoạch - Đầu tư",
    "Phòng Đào tạo",
    "Phòng Quản lý Khoa học và Hợp tác quốc tế",
    "Phòng Công tác chính trị và Hỗ trợ sinh viên",
    "Phòng Khảo thí và Đảm bảo chất lượng",
    "Phòng Quản trị",
    "Phòng Dịch vụ",
    "Phòng Quản lý Ký túc xá",
    "Tạp chí Khoa học và Công nghệ",
    "Nhà xuất bản"
    ]
    },
    {
    title: "Các Khoa",
    subitems: [
    "Khoa Công nghệ Cơ khí",
    "Khoa Công nghệ Thông tin",
    "Khoa Công nghệ Điện",
    "Khoa Công nghệ Điện tử",
    "Khoa Công nghệ Động lực",
    "Khoa Công nghệ Nhiệt - Lạnh",
    "Khoa Công nghệ May - Thời trang",
    "Khoa Công nghệ Hóa học",
    "Khoa Khoa học Cơ bản",
    "Khoa Luật và Khoa học Chính trị",
    "Khoa Ngoại ngữ",
    "Khoa Quản trị Kinh doanh",
    "Khoa Thương mại - Du lịch",
    "Khoa Kỹ thuật Xây dựng"
    ]
    },
    {
    title: "Các Viện",
    subitems: [
    "Viện Tài chính - Kế toán",
    "Viện Đào tạo quốc tế và Sau Đại học",
    "Viện Công nghệ Sinh học và Thực phẩm",
    "Viện Khoa học Công nghệ và Quản lý Môi trường"
    ]
    },
    {
    title: "Các Trung tâm",
    subitems: [
    "Trung tâm Quản trị Hệ thống",
    "Trung tâm Ngoại ngữ",
    "Trung tâm Giáo dục Quốc phòng và Thể chất",
    "Trung tâm Thư viện",
    "Trung tâm Thông tin - Truyền thông"
    ]
    },
    {
    title: "Các Phân hiệu",
    subitems: [
    "Phân hiệu Quảng Ngãi",
    "Cơ sở Thanh Hóa"
    ]
    },
    {
    title: "Đoàn thể",
    subitems: [
    "Công đoàn",
    "Đoàn Thanh niên",
    "Hội Sinh viên"
    ]
    }
    ] %}

    {% for item in mainMenu %}
    <li class="group/subbar-menu relative">
      <a href="#"
        class="font-semibold uppercase px-4 py-2 flex items-center bg-navyBlue-800 text-white rounded-md justify-between gap-2 transition-all duration-300 hover:text-navyBlue-800 hover:bg-navyBlue-100">
        {{ item.title }}
        <svg class="w-4 h-4 transition-transform duration-300" viewbox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M9 14L4 9M20 9L12 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </a>
      <!-- submenu -->
      <ul
        class="submenu-container menuMb:absolute bg-white w-full menuMb:w-[150%] menuMb:top-0 menuMb:left-full max-h-0 menuMb:max-h-none overflow-hidden menuMb:overflow-visible transform opacity-0 invisible menuMb:group-hover/subbar-menu:opacity-100 menuMb:group-hover/subbar-menu:visible translate-y-2 menuMb:group-hover/subbar-menu:translate-y-0 transition-all duration-300 ease-in-out shadow-lg rounded-md border-t-3 border-navyBlue-900 z-50 grid grid-cols-2 mobile-menu-closed">
        {% for subItem in item.subitems %}
        <li class="border-t uppercase menuMb:border-b border-gray-100 menuMb:last:border-none ">
          <a href="#"
            class="text-sm h-full text-navyBlue-900 px-4 py-3 flex items-center justify-between hover:bg-navyBlue-50 transition-all duration-200 menuMb:hover:pl-6 font-normal">
            {{ subItem }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
