<div id="{{ id }}" class="modal fixed inset-0 z-[-1] px-3 md:px-4 overflow-y-auto bg-[#000]/80 origin-center opacity-0  transition-all duration-700 flex items-center justify-center">
	<div
		class="modal-content bg-white rounded-lg shadow-lg w-full max-w-4xl p-4 md:p-6 relative">
		<!-- Modal Header -->
		<div class="modal-close absolute top-2 right-2 md:top-4 md:right-4 p-1.5 cursor-pointer size-8 md:size-10 text-navyBlue-900 rounded-full flex items-center justify-center" aria-label="Close">
			<svg class="size-full" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M18 6L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
				<path d="M6 6L18 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
			</svg>
		</div>
		<h2 class="text-xl md:text-2xl font-bold text-titleColor text-center">{{ title }}</h2>
		<!-- Modal Body -->
		<div class="modal-body pt-8 md:pt-10">
			{{ body|raw }}
		</div>

	</div>
</div>
