{% extends "./_templates/layout.twig" %}
{# If rename this file, rename in gulp
'html' task as well #}
{% block page %}

	<div class="relative">
		{% include './_templates/components/_HomeSlideFull.twig' %}
		{% include
  './_templates/components/_HomeAbout.twig' %}
		{% include
  './_templates/components/_HomeNewsNoti.twig' %}
		{% include
  './_templates/components/_HomeEvent.twig' %}
		{% include
  './_templates/components/_HomeGallery.twig' %}
		{% include
  './_templates/components/_HomeProgram.twig' %}
		{% include
  './_templates/components/_HomeCooperation.twig' %}
		{% include
  './_templates/components/_HomeAccredited.twig' %}
		{% include
  './_templates/components/_HomeResearch.twig' %}
		{% include
  './_templates/components/_HomeAwards.twig' %}
		{% include
  './_templates/components/_HomeActives.twig' %}
		{% include
  './_templates/components/_HomePartner.twig' %}

	</div>
				{% include './_templates/components/_Modal.twig' with {
		  id: 'openVideoEvent', title: 'Giới thiệu về Đại học Công nghiệp Thành phố Hồ Chí Minh', body: '
		  <div class="w-full aspect-video"> <iframe class="size-full" src="https://www.youtube.com/embed/cXyNKPR9WA4?si=v-ZsIsax5lnghoov" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
		  ',  } %}
				{% include './_templates/components/_Modal.twig' with {
		  id: 'openVideoGallery', title: 'HƯỚNG DẪN TÂN SINH VIÊN K20', body: '
		  <div class="w-full aspect-video"> <iframe class="size-full" src="https://www.youtube.com/embed/k3yulaa7PL0?si=mDgz7cfULeb6yX3m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
		  ',  } %}

{% endblock %}
