{% extends "./_templates/layout.twig" %}
{# If rename this file, rename in gulp
'html' task as well #}
{% block page %}

	<div class="relative">
		{% include './_templates/components/_HomeSlideFull.twig' %}
		{% include
	'./_templates/components/_HomeAcademy.twig' %}
		{% include
	'./_templates/components/_HomeCourse.twig' %}
		{% include
  './_templates/components/_HomeWork.twig' %}
		{% include
  './_templates/components/_HomeTransfer.twig' %}
		{% include
  './_templates/components/_HomeData.twig' %}
		{% include
  './_templates/components/_HomePartner.twig' %}
		{% include
  './_templates/components/_HomeActives.twig' %}
		{% include
  './_templates/components/_HomeResearch.twig' %}


	</div>



{% endblock %}
