{% extends "./_templates/layout.twig" %} {# If rename this file, rename in gulp
'html' task as well #} {% set breadcrumbs = [ { title: 'Tin tức', url:
'/news' } ] %} {% set pageClass = 'iuhAbout' %} {% block page %}
<div class="w-full py-4 pb-6 lg:pt-0 lg:pb-16 relative">
  <div class="w-full max-w-[1200px] px-4 mx-auto">
    <h1 class="text-3xl font-bold text-navyBlue-800 mb-8">Tin tức mới nhất</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {% for i in 1..6 %}
      <div class="bg-white rounded-2xl border border-gray-100 shadow p-5 transition hover:shadow-lg">
        <!-- Ảnh đại diện + ngày -->
        <div class="relative mb-5">
          <img src="assets/images/news-default.png" alt="Tiêu đề tin" class="w-full h-56 object-cover rounded-xl" />
          <div class="absolute bottom-0 right-0 bg-[#F25022] text-white px-4 py-2 rounded-tr-xl rounded-bl-xl flex items-center gap-1 text-sm font-medium">
            <i class="fa-regular fa-calendar-days mr-2"></i> 02/04/2023
          </div>
        </div>
        <!-- Tiêu đề -->
        <h3 class="text-xl font-bold text-gray-800 mb-2 uppercase leading-snug">
          BÌNH ĐỊNH THAM GIA CHUỖI CÔNG VIÊN PHẦN MỀM QUANG TRUNG
        </h3>
        <!-- Mô tả -->
        <p class="text-gray-600 text-base">
          Thủ tướng Chính phủ đã có quyết định kết nạp Trung tâm công nghệ thông tin và truyền thông Bình Đ...
        </p>
      </div>
      {% endfor %}
    </div>

    <!-- Pagination -->
    <div class="flex justify-center mt-10 space-x-2 sm:space-x-4">
      <button class="size-8 sm:w-10 sm:h-10 flex items-center justify-center rounded-md shadow text-sm sm:text-base hover:text-white hover:bg-navyBlue-500 transition text-black  bg-white">
        <span>&lt;</span>
      </button>
      <!-- Page 1 is (active) have text-white bg-navyBlue-800, isn't active have text-black  bg-white -->
      <button class="size-8 sm:w-10 sm:h-10 flex items-center justify-center rounded-md shadow text-sm sm:text-base hover:text-white hover:bg-navyBlue-500 transition text-white bg-navyBlue-800 ">
        1
      </button>
      <button class="size-8 sm:w-10 sm:h-10 flex items-center justify-center rounded-md shadow text-sm sm:text-base hover:text-white hover:bg-navyBlue-500 transition text-black  bg-white">
        2
      </button>
      <button class="size-8 sm:w-10 sm:h-10 flex items-center justify-center rounded-md shadow text-sm sm:text-base hover:text-white hover:bg-navyBlue-500 transition text-black  bg-white">
        <span>&gt;</span>
      </button>
    </div>
  </div>
</div>
{% endblock %}
